.container {

}

.headContainer {
  background: radial-gradient(ellipse at top left, #bb80ff 20%, transparent),
    radial-gradient(ellipse at right, #008cff, transparent),
    radial-gradient(ellipse at bottom, #00a782, transparent),
    linear-gradient(rgb(205, 217, 255), rgb(83, 152, 255));}
    .headContainerDark{
      background: radial-gradient(ellipse at top left, #530196 20%, transparent),
      radial-gradient(ellipse at right, #0c8e9f, transparent),
      radial-gradient(ellipse at bottom, #00051f, transparent),
      linear-gradient(rgb(0, 15, 65), rgb(0, 102, 255));
    }
    .headContainer, .headContainerDark{
  position: relative;
  z-index: 9;
  position: sticky;
  top: 0px;
  background-size: cover;
}

.headContainerContent {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.selectPool {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem !important;
  font-weight: 800;
  /* font: normal normal bold 32px/38px Grtsk Giga !important;
  letter-spacing: 2.88px !important; */
  color: #FFFFFF !important;
  padding-bottom: 12px;
  padding-top: 12px;
}

.choosePool {
  text-align: center !important;
  font: normal normal 300 17px/20px Poppins !important;
  letter-spacing: -0.34px !important;
  color: #FFFFFF !important;
  padding-bottom: 160px;
}

.actionContainer {
  position: absolute;
  top: 183px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 700px;
  padding: 24px;
}

.selectedField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  border-bottom: 1px solid #eff0f3;
  padding-bottom: 17px;
}

.assetIcon {
  border-radius: 30px;
  margin-right: 24px;
}

.assetDetails {
  flex: 1;
}

.selectedPoolText {
  font: normal normal medium 15px/35px Poppins !important;
}

.assetNameText {
  font: normal normal bold 20px/35px Poppins !important;
}

.assetNameSubText {
  font: normal normal medium 15px/35px Poppins !important;
}

.inputContainer {
  padding-top: 48px;
  max-width: 600px;
  margin: 0 auto;
}

.inputFieldTitle {
  font: normal normal bold 20px/35px Poppins !important;
  margin-bottom: 40px !important
}

.outlinedInput {
}

.availableText {
  font-size: 15px !important;
  line-height: 1.3 !important;
}

.rewardText {
  margin: 0 auto !important;
  margin-top: 24px !important;
  margin-bottom: 40px !important;
  max-width: 600px !important;
}

.bigButton {
  max-width: 600px !important;
  margin: 0 auto;
}

.inputButton {
  box-shadow: none !important;
}
